body {
  font-family: 'Raleway', sans-serif;
  color: #333;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}
body header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
@media (max-width: 720px) {
  body header {
    height: 20vh;
  }
  body header ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header ul li {
    width: 100%;
  }
  body header ul li a {
    padding: 10px 0;
  }
}
body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(114, 104, 103, 0.95);
}
body header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #eee;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
body header nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #eee;
  padding: 0 20px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body header nav ul li a:hover {
  background-color: rgba(92, 143, 18, 0.95);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 80vh;
}
body main .sub-header {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
  color: #eee;
  text-shadow: 2px 2px #333;
  background-image: url('/img/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
}
body main .sub-header h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
}
body main .sub-header h2 {
  font-size: 24px;
}
body main .sub-header p {
  text-transform: uppercase;
}
body main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 80vh;
}
body main .content h1 {
  font-size: 32px;
  color: #5c8f12;
}
body main .content p {
  padding: 20px;
  text-align: justify;
  line-height: 1.5em;
}
body main .content form {
  padding-bottom: 20px;
}
body main .content .actions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}
body main .content .actions-container .button-action {
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  width: auto;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  margin: 0 5px;
  background-color: rgba(92, 143, 18, 0.5);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
body main .content .actions-container .button-action:hover {
  background-color: rgba(92, 143, 18, 0.75);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
body main .content .albums-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
body main .content .albums-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body main .content .albums-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  padding: 0 20px;
  width: 300px;
  background-color: rgba(92, 143, 18, 0.01);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
body main .content .albums-container ul li:hover {
  background-color: rgba(92, 143, 18, 0.05);
}
body main .content .albums-container ul li h2 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
body main .content .albums-container ul li .album-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}
body main .content .albums-container ul li .album-container div p {
  padding-bottom: 10px;
}
body main .content .albums-container ul li .album-container div p span {
  font-weight: 500;
}
body main .content .albums-container ul li .album-container .cover-container {
  max-width: 150px;
}
body main .content .form-container {
  width: 100%;
}
body main .content .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body main .content .form-container form table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body main .content .form-container form table tr td {
  width: 180px;
  padding: 20px 0;
}
body main .content .form-container form table tr td select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}
body main .content .form-container form table tr td input {
  width: 100%;
}
body main .content .form-container form table tr td .button {
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  width: auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgba(92, 143, 18, 0.5);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
body main .content .form-container form table tr td .button:hover {
  background-color: rgba(92, 143, 18, 0.75);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  color: #eee;
  font-size: 12px;
  background-color: rgba(114, 104, 103, 0.95);
}
body footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
}
body footer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
body footer ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 20px;
  color: #eee;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body footer ul li a:hover {
  background-color: rgba(92, 143, 18, 0.95);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  padding: 20px 0;
  text-transform: uppercase;
}
body strong {
  font-weight: 700;
  font-size: 18px;
}
body .modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 10vh;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}
body .modal-container {
  width: 80%;
  height: 50%;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #5c8f12;
}
body .modal-container h2 {
  font-size: 32px;
  text-align: center;
}
body .modal-container ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .modal-container ul li {
  padding: 20px 0;
  font-weight: 100;
  font-size: 18px;
}
body .hidden {
  display: none;
}
